body {

    background-image: url(../img/tobias-van-schneider-lHGeqh3XhRY-unsplash.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin-left: 150px;
    margin-right: 150px;
   


}

#container {
   padding: 0px;
   height: 100vh;
   display: grid;
   grid-template-rows: 50% 10% 40% 15% 15% 15% 10% 10% 20% ;
   grid-template-columns: 33% 33% 33%;
   gap: 20px;
   font-family: 'Courier New', Courier, monospace;



grid-template-areas: 
"h h h"
"nav1 nav2 nav3"
"a a a"
"b b b"
"c c c"
"d d d"
"as2 as2 as2"
"as3 as3 as3"
"f f f"
;

}

header {
   grid-area: h;
   
   color: whitesmoke;


}

h1 {
   font-size: 70px;
   
   
}

#nav1 {
   grid-area: nav1;
   
   color: whitesmoke;

}

#nav2 {
   grid-area: nav2;
   
   color: whitesmoke;

}

#nav3 {
   grid-area: nav3;
  
   color: whitesmoke;

}

#a {
   grid-area: a;
  
   color: whitesmoke;
   
}

#b {
    grid-area: b;
   
    color: whitesmoke;
    
   
 }

 #c {
    grid-area: c;
  
    color: whitesmoke;
    
   
 }

 #d {
    grid-area: d;
    
    color: whitesmoke;
    
   
 }


#as2 {
   grid-area: as2;
   
   color: whitesmoke;

 
}
#as3 {
   grid-area: as3;
  
   color: whitesmoke;

 
}


footer {
   grid-area: f;
  
   color: whitesmoke;
}