
body {

     background-color:rgb(51, 51, 51);
     display: flex;
     justify-content: center;
     align-items: center;
     text-align:center;


}
#container {
    padding: 0px;
    height: 100vh;
    display: grid;
    grid-template-rows: 50% 10% 50% 10% 10% 20% ;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;


grid-template-areas: 
"h h h"
"nav1 nav2 nav3"
"a a a"
"as2 as2 as2"
"as3 as3 as3"
"f f f"
;

}

header {
    grid-area: h;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
 

}

h1 {
    font-size: 70px;
    
    
}

#nav1 {
    grid-area: nav1;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;

}

#nav2 {
    grid-area: nav2;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
 
}

#nav3 {
    grid-area: nav3;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;

}

#a {
    grid-area: a;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
    
   
}



#as2 {
    grid-area: as2;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;

  
}
#as3 {
    grid-area: as3;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;

  
}


footer {
    grid-area: f;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
}