body {
 margin: 0;
 background-color:rgb(51, 51, 51) ;
}
#container {
    margin: 10px;
    padding: 0px;
    height: 100vh;
    display: grid;
    grid-template-rows: 25% 10% 75% 15% 20% 20%  ;
    grid-template-columns: auto;
    gap: 20px;

grid-template-areas: 
"h h h"
"nav1 nav2 nav3"
"a a a"
"as1 as1 as1"
"as2 as2 as2"
"f f f"
;

}

header {
    grid-area: h;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
    margin-left: 200px;
}

h1 {
    font-size: 70px;
    
    
}

#nav1 {
    grid-area: nav1;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
}

#nav2 {
    grid-area: nav2;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
}

#nav3 {
    grid-area: nav3;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
}

#a {
    grid-area: a;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
}

#as1 {
    grid-area: as1;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
}

#as2 {
    grid-area: as2;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
}

footer {
    grid-area: f;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
}