body {
 margin: 0;
 background-color:rgb(51, 51, 51) ;
 align-items: center;
}
#container {
    margin: 10px;
    padding: 0px;
    height: 100vh;
    display: grid;
    grid-template-rows: 25% 10% 65% 10% 10% 20% ;
    grid-template-columns: auto;
    gap: 20px;

grid-template-areas: 
"h h h"
"nav1 nav2 nav3"
"a a a"
"as2 as2 as2"
"as3 as3 as3"
"f f f"
;

}

header {
    grid-area: h;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
    margin-left: 200px;
}

h1 {
    font-size: 70px;
    
    
}

#nav1 {
    grid-area: nav1;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
    margin-left: 50%;
 
}

#nav2 {
    grid-area: nav2;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
}

#nav3 {
    grid-area: nav3;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
}

#a {
    grid-area: a;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
    margin-left: 150px;
}



#as2 {
    grid-area: as2;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
    margin-left: 42%;
}
#as3 {
    grid-area: as3;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
    margin-left: 39%;
}


footer {
    grid-area: f;
    background-color:rgb(51, 51, 51);
    color: whitesmoke;
}